$base-color: pink;
$second-color: black;
$mainfont-style: monospace;
$font-size: 2rem;

p{
    border: 2px solid $base-color;
}

p {
    color: $base-color;
}

div{
    color: $second-color;
    font-family: $mainfont-style;
    font-size: $font-size;
}