div{
    border: 2px solid black;
    height: 200px;

}
div ul{
    display: flex;

}

div ul li{
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    background-color: orange;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

div ul li:nth-col(1){
    align-items: baseline;
}


