.wrapper1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    font-size: 10px;
}
.wrapper1 div {
    background-color: gray; 
    margin: 5px;
}

.wrapper2{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    max-width: 40%;
    font-size: 10px;
}
.wrapper2 div {
    background-color: gray; 
    margin: 5px;
    max-width: 50px;
    max-height: 50px;
}
